| document.querySelector("##{Task.table_name}-editContentModal").innerHTML = "";
| document.querySelector("##{Task.table_name}-editContentModal").innerHTML = '
= escape_javascript(render('form'))
| ';
